<main>
    <div class="one">
        <div class="content">
            <div>
                <p>Hi THere! I'm AYUSH</p>
            </div>
            <div>
                <img src="../../../assets/img/main_img/bg.svg" alt="">
            </div>
            <div>
                <h4>A Frontend Developer.</h4>
            </div>
        </div>
        <div class="two">
            <div class="box"><img src="../../../assets/img/icons/github.png" alt=""></div>
            <div class="box"><img src="../../../assets/img/icons/linkedin.png" alt=""></div>
            <div class="box"><img src="../../../assets/img/icons/github.png" alt=""></div>
            <div class="box"><img src="../../../assets/img/icons/linkedin.png" alt=""></div>
        </div>
    </div>

</main>


  