<!-- <div class="all_item">
    <div class="list_item">
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
        <div class="item_box"></div>
    </div>
</div> -->


  <h1>Admin Panel</h1>
  <form action="/admin/login" method="post">
    
   <div class="input-container">
    <label for="username">Username:</label>
    <i class='bx bxs-user'></i>
    <input type="text" id="username" name="username" required placeholder="Username">

    <label for="password">Password:</label>
    <i class='bx bxs-lock'></i>
    <input type="password" id="password" name="password" required placeholder="Password">

  </div>
    <button type="submit">Submit</button>
    </form>

