<div class="login_box">
    <div class="login_inner_box">

        <div class="details">
            <div class="login_img">
                <video src="../../../assets/img/desing ong/login.mp4" autoplay loop></video>
            </div>
        </div>

        <div class="login">
            <form action="">
                <div>
                    <h2>Welcome</h2>
                    <label for="">Email</label><br>
                    <input type="email"><br>
                </div>
                <div>
                    <label for="">Password</label><br>
                    <input type="password"><br>
                </div>
                <button type="submit">Sing In</button>
                <div class="text">
                    <p>Click here to <a href="#ayush"> sing up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="ayush">
    <div class="login_box">
        <div class="login_inner_box">

            <div class="login">
                <form action="">
                    <div>
                        <label for="">Email</label><br>
                        <input type="email"><br>
                    </div>
                    <div>
                        <label for="">Password</label><br>
                        <input type="password"><br>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="details">
            <div class="login_img">
                <img src="../../../assets/img/desing ong/login gif.gif">
            </div>
        </div>
    </div>
</div>