<div class="section">

</div>

<div class="footer">
    <div class="inner_footer">
        <div class="footer_one">
            <h2>About us</h2>
            <p>Welcome to Lost2Found, your dedicated companion in the quest to reunite you with your lost belongings. We
                understand that college life is a whirlwind of activities, and sometimes things just slip away. That's
                where we step in.</p>
                <a href=""><img src="../../../assets/img/icons/google.png" alt="" title="google"></a>
                <a href=""><img src="../../../assets/img/icons/instagram.png" alt="" title="instagram"></a>
                <a href=""><img src="../../../assets/img/icons/twitter.png" alt="" title="twitter"></a>
                <a href=""><img src="../../../assets/img/icons/youtube.png" alt="" title="youtube"></a>
        </div>
        <div class="footer_two"><h2>Contact Us</h2>
        <p>1245 Rang Raod,
            medical, E152 95RB. <br>
            Telephone : (922) 3354 2252
            Email : example@gmail.com</p></div>
    </div>
</div>